.App {
  text-align: center;
}

.container{
display:flex;
justify-content: space-evenly;
}

.movies{
  width:30%;
}

.right-side{
  width:70%;
  text-align: center;
}

.crawl p{
  width:70%;
  margin:auto;
}